          {% if user.is_authenticated %}
            Welcome, {{ user.username }}!
            <a href="{% url django.contrib.auth.views.logout %}">Logout</a>
          {% endif %}

          <ul id="social_menu">
    {% if SOCIALREGISTRATION_USEOPENID %}
            <li>{% openid_form %}</li>
	{% endif %}
    {% if SOCIALREGISTRATION_USEFACEBOOK %}
            <li>{% facebook_button %}</li>
	{% endif %}
    {% if SOCIALREGISTRATION_USETWITTER %}
            <li>{% twitter_button %}</li>
	{% endif %}
          </ul>
          
    {% block js %}
    {{ block.super }}
    {% if SOCIALREGISTRATION_USEFACEBOOK %}
    {% facebook_js %}
    {% endif %}
    {% endblock %}
