{% if user.twitter_profiles %}
{% for profile in user.twitter_profiles %}
	<img src="{{profile.pic_url}}" alt="Twitter profile image for {{profile.real_name}}"></img>
	connected to twitter as <a href="http://www.twitter.com/{{ profile.username}}">@{{profile.username}}</a>
{% endfor %}
{% else %}
<form class="connect-button" name="login" method="post" action="{% url twitter_redirect %}">
{% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
{% endif %}
<input type="image" onclick="this.form.submit();" src="http://apiwiki.twitter.com/f/1242697608/Sign-in-with-Twitter-lighter.png" />
</form>
{% endif %}